body {
    background-color: #99ccff;
    color: black;
    font-size: 20px;
    text-align: center;
}

img {
    max-width: 400px;
    max-height: fit-content;
}

h1 {
    font-size: 50px;
    text-align: center;
}

div {
    font-family: 'snell roundhand',cursive;
    text-align: center;
    color: navy;
    font-size: 27px;
}


